@model ShippingDetailsViewModel

<form asp-controller="Cart" asp-action="Complete" method="post">

    <div class="form-group">
        <label asp-for="ShippingDetail.FirstName">Ad</label>
        <input asp-for="ShippingDetail.FirstName" class="form-control" placeholder="Müşteri adı" />
        <span asp-validation-for="ShippingDetail.FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.LastNAme">Soyad</label>
        <input asp-for="ShippingDetail.LastNAme" class="form-control" placeholder="Müşteri Soyadı" />
        <span asp-validation-for="ShippingDetail.LastNAme"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.Email">E-posta</label>
        <input asp-for="ShippingDetail.Email" class="form-control" placeholder="E-posta" />
        <span asp-validation-for="ShippingDetail.Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.Age">Yaş</label>
        <input asp-for="ShippingDetail.Age" class="form-control" placeholder="Yaş" />
        <span asp-validation-for="ShippingDetail.Age"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.City">Şehir</label>
        <input asp-for="ShippingDetail.City" class="form-control" placeholder="Şehir" />
        <span asp-validation-for="ShippingDetail.City"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.Address">Adres</label>
        <input asp-for="ShippingDetail.Address" class="form-control" placeholder="Adres" />
        <span asp-validation-for="ShippingDetail.Address"></span>
    </div>
    <input type="submit" value="Kaydet" class="btn btn-success btn-sm"  />
</form>

